@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #0f0f0f; */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background: #000;
  --foreground: #e6e6e6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: inherit;
}
